@import url("./styles/footer.css");
@import url("./styles/main.css");

body {
    background-color: grey !important;
}

.Layout {
    position: relative;
    min-height: 100vh;
    display: flex !important;
    flex-direction: column;
}