.footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
  }

  .FooterNavigationBar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }

  .FooterContactInfo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .FooterLogo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .iconSpacer {
    margin-right: 6px;
  }