.footer {
  margin-top: auto;
  color: white;
  }

.footer .row > div {
  margin-top: 30px;
  margin-bottom: 30px;
}

  .FooterNavigationBar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }

  .FooterContactInfo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .FooterLogo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .iconSpacer {
    margin-right: 6px;
  }